---
import CurriculumInfo from "../components/CurriculumInfo"
import Layout from "../components/Layout.astro"
import LineSpans from "../components/LineSpans.astro"
import { career, education, internships, skills } from "../utils/me"
---

<Layout title="Curriculum" description="All the good bits.">
  <div class="prose-xl prose-invert mx-auto mt-20 px-8 lg:px-0">
    <h1><a class="hover:underline" href="/">Diogo Nogueira</a></h1>
    <h2 class="text-primary">
      Cybersecurity Student & Self-taught Front-end Developer
    </h2>
    <CurriculumInfo />
    <div class="lg:grid lg:grid-cols-2 lg:gap-6">
      <div>
        <h2 class="text-primary">Career</h2>
        {
          career.map(edu => (
            <div>
              <h3>{edu.title}</h3>
              <span>{edu.where}</span>
              <LineSpans before={edu.before} after={edu.after} />
            </div>
          ))
        }
        <h2 class="text-primary">Education</h2>
        {
          education.map(edu => (
            <div>
              <h3>{edu.title}</h3>
              <span>{edu.where}</span>
              <LineSpans before={edu.before} after={edu.after} />
            </div>
          ))
        }
        <h2 class="text-primary">Internships</h2>
        {
          internships.map(intern => (
            <div>
              <span>{intern.where}</span>
              <LineSpans before={intern.location} after={intern.when} />
              <ul class="list-disc">
                {intern.tasks.map(task => (
                  <li>{task}</li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
      <div>
        <h2 class="text-primary">Skills</h2>
        <div class="flex flex-wrap gap-3">
          {
            skills.map(skill => (
              <span class="rounded bg-primary px-2 leading-relaxed text-background">
                {skill}
              </span>
            ))
          }
        </div>
        <h2 class="text-primary">Languages</h2>
        <LineSpans before={"Portuguese"} after={"Native"} />
        <LineSpans
          before={"English"}
          after={"Professional Working Proficiency"}
        />
        <h2 class="text-primary">Certificates</h2>
        <span>The Web Developer Bootcamp 2022</span>
        <h2 class="text-primary">Achievements</h2>
        <LineSpans
          before={"Acquired drivers license"}
          after={"07/2022 - 01/2023"}
        />
        <h2 class="text-primary">Interests</h2>
        <div class="flex flex-wrap gap-3">
          <span class="rounded px-2 leading-relaxed ring-2 ring-primary/50">
            Driving
          </span>
          <span class="rounded px-2 leading-relaxed ring-2 ring-primary/50">
            Coding
          </span>
          <span class="rounded px-2 leading-relaxed ring-2 ring-primary/50">
            Coffee
          </span>
          <span class="rounded px-2 leading-relaxed ring-2 ring-primary/50">
            Working out
          </span>
        </div>
        <div class="h-32 lg:hidden"></div>
      </div>
    </div>
  </div>
</Layout>
